@import "tailwindcss";

@theme {
  --color-background: #0c0a09;
  --color-foreground: #fafaf9;
  --color-primary: #3b82f6;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #1e293b;
  --color-secondary-foreground: #f1f5f9;
  --color-muted: #334155;
  --color-muted-foreground: #cbd5e1;
  --color-accent: #1e40af;
  --color-destructive: #dc2626;
  --color-destructive-foreground: #fef2f2;
  --color-border: #334155;
  --color-input: #1e293b;
  --color-ring: #3b82f6;
  --radius: 0.5rem;
}
